doctype html
html(ng-app)
	head
		title = "BuzzerdPlayer"


	body
		div(ng-controller='AppCtrl')
			ul
				li(ng-repeat='message in messages') {{message.username}}: {{message.message}}


				form(ng-submit="sendMessage()")
					| Name:
					input(type='text', size='30' ng-model='username' placeholder='defaultusername')
					| Message:
					input(type='text', size='60', ng-model='message')
					input(type='submit', value='Send')


		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/app.js')
		script(src='/services.js')
		script(src='/js/filters.js')
		script(src='/js/directives.js')
		script(src='/playerng.js')